*{
    box-sizing: border-box;
}

body{
    font-family: Georgia;
}
a{
    text-decoration: none;
}
.contaner1{
    width: 100%;
    text-align: center;
}
.nav{
    display: inline-flex;
    flex-direction: row;
    margin: auto;

}
.navtext{
    display: flex;
    align-items: center;
    padding: 2px;
}
.navtext i{
    margin: 1px;
}
#circ{
    color: tomato;
}
#sqr{
    color: cornflowerblue;
}
.navul ul{
    display: flex;
    flex-direction: row;
    
}
.navul li{
    font-family: Arial;
    list-style-type: none;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
}
#lastli{
    background-color: tomato;
}
.navul a{
    color: black;
}
.search{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
}
.search i{
    line-height: 30px;
}
.searchicon{
    margin: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: tomato;
}
.contaner2{
    background-image: url(../image/images/bg.jpg) ;
    background-size:cover;
    width: 100%;
}
.cont1{
    font-family: Arial;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
    padding: 50px;
    position: relative;
}
.txt{
    margin: 80px 80px 20px 80px;  
}
.btn a{
    color: white;
}

#learn{
    background-color: tomato;
    width: 200px;
    height: 65px;
    border-radius: 10px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 100px;
    text-transform: uppercase;
    
}
.bolit{
    color: gray;
    margin: 10px;
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 50px;
}
.bolit i:hover{
    color: cadetblue;
    /* border: 1px solid tomato; */
}
.contaner3{
    position: relative;
}
.serv{
    position: absolute;
    top: -25px;
    right: 646px;
    background-color: #4db8db;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    line-height: 15px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.items{
    width: 80%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
}
.item{
    width: 300px;
    margin: 20px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.item img{
 width: 150px;
}
.contaner4{
    background-color: #2E3D50;
    width: 100%;
}
.product{
    width: 80%;
    margin: auto;
}
.txt2{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 50px;
    
}
.contaner4 h1{
    color: tomato;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.txt2 .btn2{
   position:absolute;
   right: 0px;
   top: 60px;

}
.txt2 button{
    width: 110px;
    height: 50px;
    background-color: #4db8db;
    border-radius: 10px;
    border: 0px;

}
.txt2 button a{
    color: white;
    font-size: medium;
    font-weight: bold;
}
.protoflio{
    display: inline-flex;
    margin: 20px;
}
.prot{
    width: 30%;
    margin: 30px;
}
.img img{
   width: 300px; 
   border: 10px solid white;
}
.imgtxt h2 , .prot h2 , .Recent h2{
    color: tomato;
    
}
.imgtxt p{
    color: white;
}

.contgr{
    width: 80%;
    margin: auto;
}
.txt3{
    text-align: center;
}
.txt3 h1{
    margin-top: 50px;
    color: #4db8db;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.web{
    width: 20%;
}
.web h2{
    color: #4db8db;
}
.cat{
    display:inline-flex;
    margin: 30px;
    padding: 20px;
    justify-content: space-between;
}
#dta{
    width: 80px;
    height: 40px;
    float: right;
    background-color: #4db8db;
    border-radius: 5px;
    font-weight: bolder;
    border: 0px;
    color: white;
    
}
#dta a{
    color: white;
}
hr{
    width: 100%;
}
#prag{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
span{
    color: tomato;
    font-weight: bold;
}
.profile{
    width: 100%;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    padding: 5px;
}
.icon img{
    filter: grayscale(100%);
    margin: 5px;
}
.icon img:hover{
    filter: none;
}
.footer{
    background-color: #2E3D50;
    width: 100%;
}
p a {
    color: #4db8db;
}
#in{
    width: 100%;
    border: 0;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: large;
}
.parent{
    display: inline-flex;
}
.childicon{
    margin-right: 10px; ;
}
.childtxt , .childicon i{
    color: white;
    
}
.childtxt span , #contact {
    color: #4db8db;
}
#contact{
    margin-top: 15px;
}
/* contact page style*/
.Main{
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
.contactText{
    text-align: center;
    padding: 20px;
}
.contactText h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #4db8db;
    text-transform: uppercase;
}
.secMain{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    /* justify-content: space-around; */
}

.vertical2 , .vertical1{
    width: 500px;
    text-align: left;
}
.vertical1{
    margin-right: 50px;
}
.vertical1 span{
    color: red;
}
.secMain hr{
    width: 0%;
}
.vertical1 input , textarea{
    width: 75%;
    font-size: large;
    display: block;
    margin-bottom: 10px;
}

.vertical1 textarea{
    height: 200px;
}
.vertical1 label{
    font-size: 15px;
    font-family: arial;
}
#cod{
    width: 50%;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    
}
#codewrite{
   font-size: small;
    height: 20px;
    width:75%;
    margin-left: 10px;
}
#enter{
    font-size: small;
    margin: 10px;
}
.code{
    display: inline-flex;
}
.vertical2{
    margin-left: 50px;
}
.vertical2 h2{
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif ;
    margin: 10px;
}
.sqrIcon{
    margin: auto;
}
.sqrContact{
    margin: 10px;
    color:#4db8db;
}
.map iframe{
    width: 391px;
    height: 250px;
}
.SmlContact{
    margin:0px 10px 70px 0px;
}
.slidIcon{
    width: 80px;
    height: 200px;
    background-color: rgb(189, 187, 187);
    text-align: center;
    margin-right: 15px;

}
.SmlContact{
    display: inline-flex;
}
.slidIcon i{
    text-align: center;
}
.slidText span ,a{
    color:#4db8db;
}
.slidContact{
    color: white;
    margin-top:15px ;
}

